.CrearPerfilTrabajador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}
.CrearPerfilTrabajador > img{
    width: 250px;
}
.CrearPerfilTrabajador-form{
    display:flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    gap: 0.5rem;
}
.CrearPerfilTrabajador-p1{
    color: #A9B7B7;
    opacity: 0.5;
    font-size: small;
}
.CrearPerfilTrabajador-servicios{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.CrearPerfilTrabajador-titulo{
    font-size: 1.2rem;
    font-weight: 400;
    color: #023336;
}
.CrearPerfilTrabajador-input{
    padding: 0.8rem;
    border-radius: 10px;
    border-color: #A9B7B7;
    border-style: solid;
    width: 100%;
}
.CrearPerfilTrabajador-input::placeholder{
    opacity: 0.5;
}
.CrearPerfilTrabajador-servicio-item{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}
.CrearPerfilTrabajador-input-icon{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.CrearPerfilTrabajador-servicio-item-titulo{
    width: 100%;
}
.CrearPerfilTrabajador-servicio-item-titulo-2{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.CrearPerfilTrabajador-button1{
    color: #05888F;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
.CrearPerfilTrabajador-button2{
    color: white;
    background-color: #023336;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
}
.CrearPerfilTrabajador-profesiones{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.CrearPerfilTrabajador-profesiones-item{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}