@tailwind base;
@tailwind components;
@tailwind utilities;

.inicio-main-div{
  height: 100vh;
    width: 100vw;
    background-color: white;
}

.inicio-login-button{
  color: #023336;
}
.inicio-signup-button{
  color: #3D845C;
}
.server-response {
  color: #333;
  font-size: 1em;
  margin-top: 10px;
  text-align: center;
}
.inicio-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.inicio-presentacion-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 2%;
}
.inicio-presentacion-div h1{
  font-size: 2rem;
  color: #023336;
  font-weight: 400;
  margin-bottom: 0;
}
.inicio-presentacion-div nav{
  color: #4DA674;
}
.inicio-presentacion-div img{
  width: 80%;
}
.inicio-inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
.inicio-button-google{
  border-color: #4DA674;
  border-style: solid;
  border-width: 0.01em;
  background-color: transparent;
  border-radius: 0.5em;
  width: 100%;
  color: #3D845C;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2%;
  gap: 16px;
}
.inicio-button-google span{
  flex: 1 0 0;
}
.inicio-frame{
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.input-data{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}
.input-nombre-apellido{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
}
.input-email-contraseña{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}
.input-nombre-apellido input, .input-email-contraseña input{
  flex-grow: 1;
  background-color: #E9ECEC;
  border: none;
  padding: 2%;
  border-radius: 0.5em;
}
.input-nombre-apellido input::placeholder, .input-email-contraseña input::placeholder{
  color: rgba(0, 0, 0, 0.3); /* Gris claro */
  opacity: 1;
}
.input-more-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-bottom: 5%;
}
.input-more-info h3{
  font-weight: 400;
  color: #023336;
  letter-spacing: 1.5px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.input-more-info h3 nav{
  display: inline;
  color: #05888F;
  cursor: pointer;
}
.input-more-info p{
  margin-top: 0;
  text-align: justify;
  font-size: 0.6rem;
  margin-bottom: 1rem;
}
.input-more-info button{
  background-color: #023336;
  color: white;
  padding: 2%;
  border-radius: 1em;
  cursor: pointer;
}
.inicio-about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
.AboutFrame{
  width: 100%;
}
.about-txt h3{
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #023336;
  margin-bottom: 0.5em;
}
.about-txt p{
  font-size: 0.8rem;
  color: #023336;
  margin-top: 0;
}
.about-images{
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  width: 100%;
}
.about-images div{
  width: 25%;
}

