*{
    box-sizing: border-box;
}

body{
    background-color: white;
}

.inicio-main-div{
    height: 98.4vh;
}

.inicio-header{
    background-color: #A9B7B740;
    display: flex;
    align-items: center;
}
.inicio-h1{
    margin-left: 0.5em;
}

.inicio-header-button{
    font-size: 1em;
    cursor: pointer;
    border-radius: 1em;
    margin-right: 1em;
    height: 2.5em;
    width: 5em;
}

.inicio-login-button{
    margin-left: auto;
    color: black;
}   

.inicio-signup-button{
    background-color: #023336;
    color: white;
}

.inicio-direccion-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: none;
    height: 70%;
}
