*{
    margin: 0;
}
.CuentaNueva-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    background-color: #ffffff;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;
    width: 485px;
    height: 172px;
    animation: fadeIn 2s ease-in-out;
}
.CuentaNueva-inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 437px;
    height: 68px;
}
.HappyGreenFace{
    width: 64px;
    height: 64px;
}
.MailIcon{
    width: 53.33px;
    height: 42.67px;
}
.ErrorIcon{
    width: 53.33px;
    height: 53.33px;
}
.CandadoIcon{
    width: 42.67px;
    height: 53.33px;
}
.CuentaNueva-mensaje{
    display: flex;
    flex-direction: column;
}
.CuentaNueva-mensaje > h1{
    font-weight: 700;
    font-size: 20px;
}
.CuentaNueva-botones{
    display: flex;
    gap: 15px;
    margin-left: 40%;
    gap: 1rem;
}
.MRBotones{
    margin-left: 65%;
}
.CN-B-iniciar{
    background-color: #F3FDFD;
    color: #023336;
    width: 137px;
    height: 40px;
    border-radius: 1rem;
    border: none;
    font-weight: 400;
    font-size: 17px;
}
.CN-B-salir{
    background-color: transparent;
    border: none;
    color: #023336;
    font-size: 17px;
}
.mensajeIniciarSesion-CuentaNueva-botones{
    display: flex;
    gap: 10px;
    margin-left: 23%;
}
.button{
    border: none;
    padding: 0.7rem;
    border-radius: 1rem;
    font-size: 17px;
}
.message_iniciarSesion{
    background-color: #023336;
    color: #EEF7F2;
}
.message_crearCuenta{
    background-color: #F3FDFD;
    color: #023336;
}
.message_salir{
    background-color: transparent;
    color: #05888F;
}
.CorreoUsuario{
    opacity: 0.3;
}
/*Mensaje solicitud enviada*/
.MensajeSolicitudEnviada-p{
    font-size: 1rem;
    font-weight: 700;
    color: #158F05;
}
/*Mensaje servicio cancelado*/
.MensajeServicioCancelado-p{
    font-size: 1rem;
    font-weight: 700;
}
.MensajeServicioCancelado-b2{
    background-color: #F3FDFD;
    padding: 0.5rem;
    border-radius: 1rem;
}