.CuentaNueva-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

.CuentaNueva-inicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.CuentaNueva-inicio > img{
    width: 3rem;
}
.CuentaNueva-mensaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.CuentaNueva-mensaje > h1{
    font-weight: 700;
}
.CuentaNueva-botones {
    display: flex;
    justify-content: center;
    width: 100%;
}
.CuentaNueva-botones > button{
    color: black;
    background-color: #F3FDFD;
}

/*Mensaje confirmar guardar cambios*/
.ConfiramrGuardarCambios-mensaje > h1{
    font-weight: 700;
    font-size: small;
}
.ConfiramrGuardarCambios-mensaje > p{
    font-size: small;
}
.ConfirmarGuardarCambios-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ConfirmarGuardarCambios-inicio{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.ConfirmarGuardarCambios-botones{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}
.ConfirmarGuardarCambios-botones > a{
    color: black;
    background-color: #F3FDFD;
    font-size: small;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #023336;
}