.perfilHistorialSinHistorial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: #023336;
    margin: 4%;
}
.perfilHistorial{
    display: flex;
    flex-direction: row;
    gap: 4%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2%;
}
.perfilHistorial-datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 10px;
    height: 50%;
}
.perfilHistorial-datos-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 12%;
    margin-bottom: 18%;
    align-items: center;
}
.perfilHistorial-datos-info h5{
    color: #023336;
    font-weight: 600;
    font-size: 1rem;
}
.perfilHistorial-datos-info h6{
    opacity: 0.4;
    font-weight: 400;
    font-size: 1rem;
}
.perfilHistorial-datos > button{
    background-color: #F3FDFD;
    color: #023336;
    border: none;
    border-radius: 10px;
    padding: 7%;
    font-weight: 400;
    font-size: 1rem;
}
.perfilHistorial-historial{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 50%;
}
.perfilHistorial-historial-menu{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 3%;
}
.perfilHistorial-historial-menu h3{
    color: #023336;
    font-weight: 400;
    font-size: 1.5rem;
}
.perfilHistorial-historial-registro{
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-top: 1px solid #023336;
    align-items:flex-start;
    gap: 1rem;
}

.perfilHistorial-historial-registro-button{
    background-color: #4DA674;
    color: white;
    height: 44px;
    width: 205px;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 1.1rem;
}
.perfilHistorialSinHistorial-registros{
    width: 60vw;
}
.perfilHistorialSinHistorial-titulosComponentes{
    color: #023336;
    font-weight: 600;
    font-size:larger;
}
.perfilHistorialSinHistorial-registroDeServicios{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.perfilHistorialSinHistorial-configuración{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 8%;
    margin-left: 5%;
    margin-right: 30%;
    margin-bottom: 3%;
}
.perfilHistorialSinHistorial-configuración-left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.perfilHistorialSinHistorial-configuración-div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.perfilHistorialSinHistorial-configuración-div-titulo{
    color: #023336;
    font-weight: 600;
    font-size: 1.2rem;
}
.perfilHistorialSinHistorial-configuración-div-text{
    color: #7A8F8F;
    font-size: 1.2rem;
    text-decoration: none;
}
