.VistaPerfilTrabajador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.VistaPerfilTrabajador > h1{
    margin: 2rem;
    margin-top: top;
}
.VistaPerfilTrabajador > button{
    background-color: transparent;
    border-style: solid;
    border-color: #05888F;
    padding: 0.8rem;
    border-radius: 1rem;
    color: #05888F;
    font-size: 1rem;
}
.VistaPerfilTrabajador > p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.VistaPerfilTrabajador__skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #F3FDFD;
    padding: 1.5rem;
    border-radius: 1rem;
}
.VistaPerfilTrabajador__description{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.VistaPerfilTrabajador__description > p{
    color: #4DA674;
    font-size: 1.2rem;
}
.VistaPerfilTrabajador__description > button{
    color: white;
    font-size: 1.2rem;
    background-color: #4DA674;
    padding: 0.8rem;
    border: none;
    border-radius: 1rem;
}
.VistaPerfilTrabajador__about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: solid rgb(223, 222, 222);
    margin-left: 10%;
    margin-right: 10%;
    padding: 1rem;
}
.VistaPerfilTrabajador__reviews{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6rem;
}
.VistaPerfilTrabajador__reviews > h2{
    color: black;
    font-weight: 700;
    font-size: 1.8rem;
}
.VistaPerfilTrabajador__reviews__stars{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
.VistaPerfilTrabajador_lastp{
    margin-top: 5rem;
}
