.VistaPerfilTrabajador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.VistaPerfilTrabajador > h1{
    margin: 2rem;
    margin-top: top;
}
.VistaPerfilTrabajador > button{
    background-color: transparent;
    border-style: solid;
    border-color: #05888F;
    padding: 0.8rem;
    border-radius: 1rem;
    color: #05888F;
    font-size: 1rem;
}
.VistaPerfilTrabajador > p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.VistaPerfilTrabajador__skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #F3FDFD;
    padding: 1.5rem;
    border-radius: 1rem;
}
.VistaPerfilTrabajador__description{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.VistaPerfilTrabajador__description > p{
    color: #4DA674;
    font-size: 1.2rem;
}
.VistaPerfilTrabajador__description > button{
    color: white;
    font-size: 1.2rem;
    background-color: #4DA674;
    padding: 0.8rem;
    border: none;
    border-radius: 1rem;
}
.VistaPerfilTrabajador__about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    gap: 1rem;
}
.VistaPerfilTrabajador__about__text{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    border-color: rgb(207, 207, 207);
    border-style: solid;
    width: 70%;
}
.VistaPerfilTrabajador__about__status{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    border-radius: 1rem;
    border-color: rgb(207, 207, 207);
    border-style: solid;
    gap: 0.5rem;
}
.VistaPerfilTrabajador__about__status > p{
    color: #023336;
    font-weight: 500;
    font-size: 1.2rem;
}
.VistaPerfilTrabajador__about__status > button{
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    padding: 0.8rem;
    border: none;
    border-radius: 1rem;
    align-items: center;
    gap: 0.5rem;
    width: 60%;
}
.VistaPerfilTrabajador__reviews{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}
.VistaPerfilTrabajador__reviews > h2{
    color: black;
    font-weight: 700;
    font-size: 1.8rem;
}
.VistaPerfilTrabajador__reviews__stars{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
.VistaPerfilTrabajador_lastp{
    margin-top: 5rem;
}
/*Perfil trabajador comentarios*/
.VistaPerfilTrabajador__about__status__button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    background-color: #C2E7BC;
    width: 136px;
    padding: 0.5rem;
    border-radius: 1rem;
}
.VistaPerfilTrabajador__about__status__button > p{
    color: #1B3C16;
    font-size: 1.2rem;
}
.VistaPerfilTrabajador__reviews__stars__rating{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.VistaPerfilTrabajador__reviews__more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.VistaPerfilTrabajador__reviews__more > h2{
    color: #023336;
}
.VistaPerfilTrabajador__reviews__more__profiles{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.VistaPerfilTrabajador__reviews__more__buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-collapse: collapse;
}
.VistaPerfilTrabajador__reviews__more__buttons > button{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}
